{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.webc",
      "options": { "parser": "html" }
    }
  ]
}
