@import "tailwindcss";
@import "./fonts";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Circular", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Tiempos", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --animate-lay-in: lay-in linear;
  --landing-grid-cols: minmax(140px, 25vw) minmax(50vw, 1440px) minmax(140px, 25vw);
}

@view-transition {
  navigation: auto;
}

@keyframes old-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes new-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

&::view-transition-old(root) {
  animation-name: old-out;
  animation-duration: 0.25s;
}

&::view-transition-new(root) {
  animation-name: new-in;
  animation-duration: 0.25s;
}

@layer components {
  .ux-department {
    @apply
      @container/department 
      p-8 flex justify-between gap-4 flex-col
      md:flex-row md:content-end md:place-items-end
    ;
  }

  .ux-sideways-header {
    @apply prose max-w-none
      prose-headings:uppercase prose-headings:m-0 prose-headings:leading-none prose-headings:text-center prose-headings:text-blue-900
      md:min-h-[66cqmin]
    ;

    @media (width >= 48rem) { 
      writing-mode: sideways-rl;
    }
  }
}

@layer utilities {
  .ux-text-sideways {
    writing-mode: sideways-rl;
  }
}

/* Stacky cards: https://scroll-driven-animations.style/demos/stacking-cards/css/ */