@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .ux-text-clamp-title {
    container-type: inline-size;
    
    & > * {
      font-size: clamp(1rem, 35cqmin, 50cqmin);
      line-height: 1;
    }
  }
}

@view-transition {
  navigation: auto;
}

@keyframes old-out {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes new-in {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

&::view-transition-old(root) {
  animation-name: old-out;
  animation-duration: 0.25s;
}

&::view-transition-new(root) {
  animation-name: new-in;
  animation-duration: 0.25s;
}